#admin-page {
    .navbar {
        font-weight: bold;
        li {
            a {

                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 15px;
            }
        }
    }
}