#admin-page {
    .navbar {
        margin-bottom: 30px;
        border-bottom: 2px solid;

        #title-adminPage {
            font-weight: 600;
            font-size: $fs-3;
            background: linear-gradient(to right, #0CC3CF 18%, #CF0DA9 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: italic;
        }

        .icon-tittle {
            font-size: $fs-4;
        }

        ul {
            li {
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 80px;
                    font-weight: 500;
                    font-size: $fs-2;
                }
            }
        }
    }

    #myModal {
        .modal-label {
            font-size: $fs-2;
            margin-bottom: 0;
        }
    }
}

/* HTML: <div class="loader"></div> */

.loader {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #0f0a0a;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #FF3D00;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}